.wrapper {
  color: #ffffff;
  margin: 1rem;
  padding: 0.5em;
  background: #29323c;
  max-width: 300px;
  display: grid;
  grid-template-rows: 300px 110px 280px;
}

.recommended {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to top, rgb(195, 20, 50), rgb(36, 11, 54)) repeat scroll 0%
    0%;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 5px 5px 15px 15px;
  background: #4e4e50;
}

.name {
  padding: 1rem;
  font-size: 2rem;
  max-width: 268px;
  margin: 0;
  text-align: center;
}

.species {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.species:hover {
  color: #29323c;
  background: #ffffff;
}

.title {
  margin: 10px 0;
  text-align: center;
  text-decoration: underline;
}

.episode_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.episode {
  padding: 3px;
  display: inline-flex;
  border: 1px solid white;
  margin: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-content: center;
}

.episode:hover {
  background: #ffffff;
  color: #29323c;
  cursor: default;
}
